h1 {
  color: #f03278;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Bowlby One SC', cursive;*/
  font-family: 'Limelight', cursive;
  font-size: 1000%;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 2%;
}

.firstName {
   cursor: pointer;
}

.descriptionDiv {
  font-family: 'Raleway', sans-serif;
  font-size: 110%;
  color: #000000;
}

@media screen and (max-width: 650px) {
 h1 {
   font-size: 800%;
   line-height: 120%;
 }
 .descriptionDiv {
   font-size: 80%;
 }
}
