.AppContainer {
  display: flex;
  flex-flow: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  color: #f03278;
}

.headerDiv {
  display: flex;
  -ms-align-items: center;
  align-items: flex-end;
  justify-content: center;
  /*background-color: tomato;*/
}

/*.notexpanded {
  height: 0px;
  margin: 0 auto;
}

.expandedaboutme {
  background-color: green;
  height: 100vh;
}

.expandedportfolio {
  background-color: tomato;
  height: 100vh;
}

.contentDiv {
  transition: 1s;
  background-color: yellow;
  width: 100%;
}*/

.aboutme {
  transition: 1s;
  /*transition-timing-function: ease-in;*/
  width: 100%;
}

.footer {
  color: #000000;
  text-align: center;
  width: 100%;
  /*height: 20%;*/
  font-size: 80%;
  /*background-color: yellow;*/

}
