.AppContainer {
  display: flex;
  flex-flow: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  /*max-height: 100vh;
  max-width: 100%;*/
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  color: #f03278;
}

.headerDiv {
  /*height: 185px;*/

}

.notexpanded {
  height: 0;
}

.expandedaboutme {
  background-color: green;
  height: 50%;
}

.expandedportfolio {
  background-color: tomato;
  height: 50%;
}

.contentDiv {
  transition: 1s;
  background-color: yellow;
  width: 100%;
}

.aboutme {
  transition: 1s;
  width: 100%;
}

.footer {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  /*position: fixed;*/
  /*bottom: 0;*/
  width: 100%;
  height: 30px;
  font-size: 90%;
  background-color: transparent;
  /*color: #000000;*/

}
