.content {
  text-align: center;
  vertical-align: center;
  display: block;
}

.left {
  display: inline-block;
  width: 32%;
  height: 200px;
  padding: 3%;
  color: black;
}

.right {
  display: inline-block;
  width: 40%;
  padding: 10%;
  margin: 0;
  color: black;
}
