.header {
  width: auto;
  padding: 13px 0px 0px 0px;
}

/*.header p {
  text-align: center;
  padding-top: 2%;
  color: #000000;
  font-size: 80%;
}*/

h1 {
  margin-top: 0;
  display: none;
}

.logo {
  cursor: pointer;
}


@media screen and (max-width: 650px) {
 h1 {
   font-size: 50%;
 }

 .header {
   display: flex;
   justify-content: center;
   align-items: center;
 }


 .logo {
   width: 70%;
   text-align: center;
 }
}
