.greynav {
  width: 100%;
  height: 10%;
  margin-top: 0;
  color: #555555;
  display: flex;
  text-align: center;
  flex-flow: row;
}

.worksul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  margin: 0.5%;
  padding: 0;
  width: 100%;
}

.workslist {
  /*display: inline-block;*/
  font-size: 85%;
  cursor: pointer;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 7px;
  height: 100%;
}

/*Mobile Portrait Breakpoint*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .worksul {
    flex-wrap: wrap;
  }

  .workslist {
    font-size: 50%;
    width: 50%;
    margin-top: 0;
  }

}
@media only screen and (min-device-width : 568px)and (max-device-width : 767px)  {
  .workslist {
    width: 100%;
    font-size: 35%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .workslist {
    font-size: 100%;
  }
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .workslist {
    font-size: 100%;
  }
}
