.greynav {
  max-width: 100%;
  height: 30px;
  /*background-color: #EBECEA;*/
  margin-top: 0;
  color: #555555;
}

.worksul {
  list-style-type: none;
  text-align: center;
  margin: 0.5%;
  padding: 0;
}

.workslist {
  display: inline-block;
  font-size: 80%;
  cursor: pointer;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 7px;
}
