.greynav {
  width: 100%;
  height: 10%;
  margin-top: 0;
  color: #555555;
  display: flex;
  text-align: center;
  flex-flow: row;
}

.worksul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  margin: 0.5%;
  padding: 0;
  width: 100%;
}

.workslist {
  /*display: inline-block;*/
  font-size: 85%;
  cursor: pointer;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 7px;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .worksul  {
    flex-wrap: wrap;
  }

  .workslist {
    font-size: 70%;
    margin-top: 0;
    width: 50%;
  }
}
