.navDiv {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 120%;
  width: 100%;
  list-style: none;
  padding: 15px 0px 0px 0px;

}

.navItems {
  font-size: 90%;
  width: 20%;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

  .nav {
    font-size: 100%;
    width: 100%;
  }

  .navItems {
    width: 30%;
  }

}
