.navDiv {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  width: 100%;
  list-style: none;
  padding: 15px 0px 0px 0px;

}

.navItems {
  font-size: 90%;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 650px) {

 .nav {
   font-size: 120%;
   height: 20%;
   width: 100%;
   list-style: none;
   /*position: absolute;*/
   padding: 3px 0px 0px 0px;

 }

}
